.navbg{
    background-image: url("https://i.makeagif.com/media/8-02-2022/x3K_yO.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: fill;
}